body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

/*
.publication-title {
}
*/
.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}
/*
.publication-header .hero-body {
}
*/
.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}
/*
.publication-authors {
}
*/
.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}
/*
.publication-banner img {
}

.publication-authors {
  color: #4286f4;
} 
*/

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
.publication-body img {
}
*/

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.element-block{
  margin-top: 30px;
  margin-bottom: 30px;
}

.undernote{
  margin-top: 0px;
}

.interpolation-panel {
  /*background: #f5f5f5;*/
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}
/*
.interpolation-video-column {
}
*/
.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

/*Mine*/

/* Базовое выравнивание для всех ячеек */
th, td {
  text-align: left;
}

/* Центрирование заголовков */
th {
  text-align: center;
}

/* Выравнивание первого столбца (No.) по левому краю */
td:nth-child(1) {
  text-align: right;
}

/* Выравнивание третьего столбца (Quantity) по левому краю */
td:nth-child(3) {
  text-align: right;
}

h5 {
  margin-top: 40px;
}

/*Tabs*/

.tabcontent {
  display: none; /* Скрываем все содержимое вкладок по умолчанию */
}

.tabcontent.active {
  display: block; /* Показываем только активную вкладку */
}

.tabs .is-active a {
  background-color: #fff; /* Цвет активной вкладки, можно настроить */
  border-bottom:  none; /* Убираем нижнюю границу для активной вкладки */
}

/*Mine*/

.intab-text{
  margin: 30px;
}

.vid{
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

/*Сворачивание таблиц*/

/*
.spoiler-table[open] table tbody {
  animation: fadeIn 0.3s ease-in-out;
}
.spoiler-table:not([open]) table tbody {
  display: none;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
*/

.spoiler-table {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.spoiler-table[open] {
  animation: slide-down 0.3s ease-in-out;
}

.spoiler-table:not([open]) {
  animation: slide-up 0.3s ease-in-out;
}

.table-header {
  cursor: pointer;
  background-color: #fff;
  color: #4A4A4A;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;
  position: relative;
  padding-right: 25px; /* Дополнительное место для стрелки */
}
.table-header::-webkit-details-marker {
  display: none; /* Скрываем встроенный маркер */
}
.table-header:hover {
  background-color: #4A4A4A;
  color: #fff;
}
.table-header:hover th {
  color: #fff;
}
.table-header::after {
  content: '▼'; /* Стрелка вниз */
  position: absolute;
  right: -20px; /* Выносим за пределы блока */
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  transition: transform 0.3s ease;
}
.spoiler-table[open] .table-header::after {
  content: '▲'; /* Стрелка вверх при раскрытии */
  transform: translateY(-50%) rotate(0deg);
}

@keyframes slide-down {
  from {
    max-height: 3rem;
  }
  to {
    max-height: 1000px;
  }
}

@keyframes slide-up {
  from {
    max-height: 1000px;
  }
  to {
    max-height: 3rem;
  }
}
